header {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}
header .top-nav {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  padding: 4px 48px 0;
  border-bottom: 1px solid #b7b6b7;
  margin-top: -60px;
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  header .top-nav {
    display: none;
  }
}
header .top-nav .gradient-line {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 4px;
  background: repeating-linear-gradient(to right, #FF6700 0%, rgb(241, 201, 4) 30%, rgb(35, 255, 178) 50%, rgb(241, 201, 4) 70%, #FF6700 100%);
  background-size: 200vw 200vw;
  animation: v2_GradientLine 2s infinite linear forwards;
  transition: opacity 0.3s;
}
@keyframes v2_GradientLine {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200vw;
  }
}
header .top-nav .top-nav-left, header .top-nav .top-nav-right {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
header .top-nav .top-nav-left > div, header .top-nav .top-nav-right > div {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 -6px;
}
header .top-nav .top-nav-left > div a, header .top-nav .top-nav-right > div a {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: Noto Sans TC;
  font-weight: 500;
  text-indent: 0;
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
  flex: 0 1 64px;
  min-width: 64px;
  transition: color 0.3s;
}
header .top-nav .top-nav-left > div a:after, header .top-nav .top-nav-right > div a:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #ff6700;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
header .top-nav .top-nav-left > div a.-active, header .top-nav .top-nav-left > div a:hover, header .top-nav .top-nav-right > div a.-active, header .top-nav .top-nav-right > div a:hover {
  color: #ff6700;
}
header .top-nav .top-nav-left > div a.-active:after, header .top-nav .top-nav-left > div a:hover:after, header .top-nav .top-nav-right > div a.-active:after, header .top-nav .top-nav-right > div a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
header .top-nav.-active {
  margin-top: 0px;
}
header .main-nav {
  width: 100%;
  height: 76px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 22px 48px 18px;
  box-shadow: 0 0.5rem 15px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1200px) {
  header .main-nav {
    height: 60px;
    padding: 22px 32px 18px;
    padding: 22px 5% 18px;
    box-shadow: none;
  }
}
header .main-nav .main-nav-frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
}
@media (max-width: 1200px) {
  header .main-nav .main-nav-frame {
    justify-content: space-between;
  }
}
header .main-nav .main-nav-frame .main-nav-logo {
  width: 180px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 auto;
  padding-right: 32px;
  max-width: 100%;
}
@media (max-width: 768px) {
  header .main-nav .main-nav-frame .main-nav-logo {
    padding-right: 0;
  }
}
header .main-nav .main-nav-frame .main-nav-logo a {
  width: 145px;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 auto;
}
header .main-nav .main-nav-frame .main-nav-tabs {
  height: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}
@media (max-width: 1200px) {
  header .main-nav .main-nav-frame .main-nav-tabs {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: #fff;
    border-top: 1px solid #F3F3F3;
    box-shadow: 0 0.5rem 15px rgba(0, 0, 0, 0.1);
  }
}
header .main-nav .main-nav-frame .main-nav-tabs .main-nav-tab {
  width: auto;
  height: 100%;
  cursor: pointer;
}
header .main-nav .main-nav-frame .main-nav-tabs .main-nav-tab span p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 500;
  text-indent: 0;
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #1c1c1c;
  white-space: nowrap;
  transition: color 0.3s;
  margin: 0 10px;
}
@media (max-width: 1200px) {
  header .main-nav .main-nav-frame .main-nav-tabs .main-nav-tab span p {
    font-size: 14px;
  }
}
header .main-nav .main-nav-frame .main-nav-tabs .main-nav-tab span p:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  background: linear-gradient(90deg, #624BEE 0, #FF6700 100%);
}
@media (max-width: 1200px) {
  header .main-nav .main-nav-frame .main-nav-tabs .main-nav-tab span p:after {
    bottom: 10px;
  }
}
header .main-nav .main-nav-frame .main-nav-tabs .main-nav-tab.-active span p {
  width: auto;
}
header .main-nav .main-nav-frame .main-nav-tabs .main-nav-tab.-active span p:after {
  opacity: 1;
}
header .main-nav .main-nav-frame .main-nav-tabs .main-nav-btn {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
header .main-nav .main-nav-frame .main-nav-tabs .main-nav-btn .main-nav-button {
  width: 36px;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1c1c1c;
  cursor: pointer;
  transition: color 0.3s;
  opacity: 0;
  visibility: hidden;
}
header .main-nav .main-nav-frame .main-nav-tabs .main-nav-btn .main-nav-button.-disabled {
  opacity: 0;
  visibility: hidden;
}
header .main-nav .main-nav-frame .main-nav-tabs .swiper-container {
  margin: 0;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  flex: 0 1 auto;
  height: 100%;
}
@media (max-width: 1200px) {
  header .main-nav .main-nav-frame .main-nav-tabs .swiper-container {
    width: 100%;
  }
}
header .main-nav .main-nav-frame .main-nav-tabs .swiper-container .swiper-wrapper {
  position: relative;
  width: auto;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  gap: 2vw;
}
@media (max-width: 1200px) {
  header .main-nav .main-nav-frame .main-nav-tabs .swiper-container .swiper-wrapper {
    gap: 1.5vw;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  header .main-nav .main-nav-frame .main-nav-tabs .swiper-container .swiper-wrapper {
    gap: 0;
    justify-content: flex-start;
  }
}
header .main-nav .main-nav-frame .member-status .status-1 {
  display: block;
}
header .main-nav .main-nav-frame .member-status .status-2 {
  display: none;
}
header .main-nav .main-nav-frame .member-status.-active .status-1 {
  display: none;
}
header .main-nav .main-nav-frame .member-status.-active .status-2 {
  display: block;
}
header .main-nav .main-nav-frame .member-status #login-btn {
  max-width: 130px;
  color: #fff;
  background-color: #fff;
  border: 1px #d7d7d7 solid;
  background-color: #1c1c1c;
  border-color: #1c1c1c;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s, max-width 0.3s;
  width: auto;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
}
header .main-nav .main-nav-frame .member-status #login-btn > span {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
header .main-nav .main-nav-frame .member-status #login-btn > span svg {
  width: 16px;
  height: 16px;
  display: block;
  color: #fff;
}
header .main-nav .main-nav-frame .member-status #login-btn > p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: Noto Sans TC;
  font-weight: 500;
  text-indent: 0;
  position: relative;
  display: block;
  margin: 0;
  padding: 0 12px 0 5px;
  white-space: nowrap;
  color: #fff;
}
header .main-nav .main-nav-frame .member-status #member-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
header .main-nav .main-nav-frame .member-status #member-info .photo {
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex: 0 0 auto;
  border: 2px #d7d7d7 solid;
  border-radius: 50%;
  overflow: hidden;
  transition: border-color 0.3s;
}
header .main-nav .main-nav-frame .member-status #member-info .phone-num {
  position: relative;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.25px;
  font-family: Noto Sans TC;
  font-weight: 700;
  text-indent: 0;
}
header .main-nav .main-nav-frame .member-status #member-info .phone-num:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  background-color: #ff6700;
  opacity: 0;
  transition: opacity 0.3s;
}
header .main-nav .main-nav-frame .member-status #member-info .logout {
  width: 2em;
  margin-left: 0.5em;
}
header .main-nav .main-nav-frame .member-status #member-info:hover .photo {
  border: 2px #FF6700 solid;
}
header .main-nav .main-nav-frame .member-status #member-info:hover .phone-num {
  color: #FF6700;
}
header .main-nav .main-nav-frame .member-status #member-info:hover .phone-num:after {
  opacity: 1;
}
header .main-nav .gradient-line {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background: repeating-linear-gradient(to right, #EC008C 0%, #FF6700 50%, #EC008C 100%);
  background: repeating-linear-gradient(to right, #FF6700 0%, rgb(241, 201, 4) 30%, rgb(35, 255, 178) 50%, rgb(241, 201, 4) 70%, #FF6700 100%);
  background-size: 200vw 200vw;
  animation: v2_GradientLine 2s infinite linear forwards;
  transition: opacity 0.3s;
}
@keyframes v2_GradientLine {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 200vw;
  }
}
@media (max-width: 1200px) {
  header .main-nav .gradient-line {
    bottom: -54px;
  }
}